@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
    transition: all .2s linear;
}

.img-items {
    width: 262px;
    height: 200px;
}

.product-card {
    width: 280px;
}

.description-card {
    height: 72px;
}

/* ============================ */

#img-home {
    margin: auto;
    width: 45%;
    height: 500px;
}

.aboutUs-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.aboutUs-content .aboutUs-Img {
    width: 40%;
}

.aboutUs-content .aboutUs-Img img {
    width: 100%;
}

.aboutUs-content .aboutUs-Text {
    width: 80%;
}

.aboutUs-content .aboutUs-Text .aboutUs-services {
    display: flex;
    justify-content: space-around;
}

.cart-empty {
    width: 30%;
}

@media only screen and (max-width: 965px) {
    #img-home {
        margin: auto;
        width: 45%;
        height: 400px;
    }

    .aboutUs-content {
        flex-direction: column;
    }

    .aboutUs-content .aboutUs-Img {
        width: 55%;
    }

    .aboutUs-content .aboutUs-Text .aboutUs-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 750px) {
    #img-home {
        margin: auto;
        width: 60%;
        height: 400px;
    }
}

@media only screen and (max-width: 540px) {
    #img-home {
        margin: auto;
        width: 80%;
        height: 400px;
    }
}

@media only screen and (max-width: 450px) {
    #img-home {
        margin: auto;
        width: 80%;
        height: 350px;
    }
}

@media only screen and (max-width: 360px) {
    #img-home {
        margin: auto;
        width: 80%;
        height: 320px;
    }
}